{% extends "base.html" %}

{% load staticfiles %}

{% block title %} 融资目录 {% endblock title %}

{% block main_content %}

<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">利息 </h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4> 历史利息 </h4>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="container-fluid">
                  <div class="table-responsive">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                      <tr>
                        <th>银行名称</th>
                        <th>提款金额</th>
                        <th>付款日子</th>

                        <th>利息金额(A)</th>
                        <th>加减点数(B)</th>
                        <th>利息合计(A+B)</th>

                        <th>营业税(C)</th>
                        <th>附加税(D)</th>
                        <th>所得税(E)</th>
                        <th>其他(F)</th>
                        <th>合计丽东承担税<br>(C+D+E+F)</th>

                        <th>担当</th>
                        <th>处理情况</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td rowspan=4>光大银行 </td>
                        <td rowspan=4 class='number'>70000000</td>
                        <td rowspan=2 >2016/9/20</td>

                        <td>3.4000%</td>
                        <td>1.2000%</td>
                        <td>4.6000%</td>

                        <td>1.4000%</td>
                        <td>0.3000%</td>
                        <td>0.3000%</td>
                        <td>0.4000%</td>
                        <td>2.4000%</td>

                        <td rowspan=4 >纪玉奎</td>
                        <td rowspan=4 >已经付款 </td>
                      </tr>          
                      <tr>
                        
                        <td class='number'>1983333</td>
                        <td class='number'>700000</td>
                        <td class='number'>268333</td>

                        <td class='number'>81666</td>
                        <td class='number'>17500</td>
                        <td class='number'>17500</td>
                        <td class='number'>23333</td>
                        <td class='number'>140000</td>
                      </tr>
                      <tr>
                        <td>银行利息计算 </td>
                        <td ></td>
                        <td ></td>
                        <td ><input type="text" class='number' name="loan_amount" value="268353"></td>

                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                      </tr>
                      <tr>
                        <td>利息差异 </td>
                        <td ></td>
                        <td ></td>
                        <td class='number'>20</td>

                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                      </tr>

                      <tr>
                        <td rowspan=4>交通银行 </td>
                        <td rowspan=4 class='number'>70000000</td>
                        <td rowspan=2 >2016/9/20</td>

                        <td>3.4000%</td>
                        <td>1.2000%</td>
                        <td>4.6000%</td>

                        <td>1.4000%</td>
                        <td>0.3000%</td>
                        <td>0.3000%</td>
                        <td>0.4000%</td>
                        <td>2.4000%</td>

                        <td rowspan=4 >纪玉奎</td>
                        <td rowspan=4 >已经付款 </td>
                      </tr>          
                      <tr>
                        
                        <td class='number'>1983333</td>
                        <td class='number'>700000</td>
                        <td class='number'>268333</td>

                        <td class='number'>81666</td>
                        <td class='number'>17500</td>
                        <td class='number'>17500</td>
                        <td class='number'>23333</td>
                        <td class='number'>140000</td>
                      </tr>
                      <tr>
                        <td>银行利息计算 </td>
                        <td ></td>
                        <td ></td>
                        <td ><input type="text" class='number' name="loan_amount" value="268353"></td>

                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                      </tr>
                      <tr>
                        <td>利息差异 </td>
                        <td ></td>
                        <td ></td>
                        <td class='number'>20</td>

                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                      </tr>
                      <tr>
                        <td rowspan=4>农业银行 </td>
                        <td rowspan=4 class='number'>70000000</td>
                        <td rowspan=2 >2016/9/20</td>

                        <td>3.4000%</td>
                        <td>1.2000%</td>
                        <td>4.6000%</td>

                        <td>1.4000%</td>
                        <td>0.3000%</td>
                        <td>0.3000%</td>
                        <td>0.4000%</td>
                        <td>2.4000%</td>

                        <td rowspan=4 >纪玉奎</td>
                        <td rowspan=4 >已经付款 </td>
                      </tr>          
                      <tr>
                        
                        <td class='number'>1983333</td>
                        <td class='number'>700000</td>
                        <td class='number'>268333</td>

                        <td class='number'>81666</td>
                        <td class='number'>17500</td>
                        <td class='number'>17500</td>
                        <td class='number'>23333</td>
                        <td class='number'>140000</td>
                      </tr>
                      <tr>
                        <td>银行利息计算 </td>
                        <td ></td>
                        <td ></td>
                        <td ><input type="text" class='number' name="loan_amount" value="268353"></td>

                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                      </tr>
                      <tr>
                        <td>利息差异 </td>
                        <td ></td>
                        <td ></td>
                        <td class='number'>20</td>

                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                      </tr>                      
                    </tbody>
                  </table>
                   </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
  </div>
</div>
{% endblock main_content %}

{% block extra_js %}

  {% load staticfiles %}
  <script src="{% static 'vendor/jquery/jquery.number.min.js' %}"></script>
  <script type="text/javascript">
    $('.number').number(true, 0);
  </script>

{% endblock extra_js %}
