{% extends "base.html" %}

{% load staticfiles %}

{% block title %} 授信目录 {% endblock title %}

{% block main_content %}

<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">融资</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4> 融资 申请 - 内容 </h4>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
              
              <form class="form-horizontal" action="POST">
              <div class="form-group">
                <label class="control-label col-sm-3" for="bank_name">操作人 : </label> 
                <div class="col-sm-9">曹美兰</div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="bank_name">银行名称 : </label> 
                <div class="col-sm-6"><input type="text" class="form-control" name="bank_name" value="光大银行"></div>
                <div class="col-sm-3"> <button>Search</button> </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="credit_id">使用授信 : </label> 
                <div class="col-sm-6"><input type="text" class="form-control" name="project_loan" value="中长期流贷授信／短期流贷授信"></div>
                <div class="col-sm-3"> 货币种类 : RMB </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="bond_amount">债券授信 : </label> 
                <div class="col-sm-9"><input type="text" class="form-control" name="bond_amount" value="160000000"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="contract_date">合同签字日子 : </label> 
                <div class="col-sm-9"><input type="date" class="form-control" name="contract_date" value="2016-09-10"></div>
              </div>
              <br>
              <div class="form-group">
                <label class="control-label col-sm-3" for="loan_amount">提款金额 : </label> 
                <div class="col-sm-9"><input type="text" class="form-control" name="loan_amount" value="10000000"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="loan_date">提款日子 : </label> 
                <div class="col-sm-9"><input type="date" class="form-control" name="loan_date" value="2016-09-10"></div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3" for="loan_amount">融资期间 : </label> 
                <div class="col-sm-9">
                  提款日子 ： <input type="date" name="loan_start" value="2016-09-10"> ～
                  还款日子 ： <input type="date" name="loan_stop" value="2017-09-10">
                </div>
              </div>
              <br>
              <div class="form-group">
                <label class="control-label col-sm-3" for="loan_purpose">融资用途 : </label> 
                <div class="col-sm-9"><input type="text" class="form-control" name="loan_purpose" value="原料购买"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="loan_contract_id">用途相关合同编码 : </label> 
                <div class="col-sm-9"><input type="text" class="form-control" name="loan_contract_id" value="PP011111"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="loan_beneficiary">收款机关名称 : </label> 
                <div class="col-sm-9"><input type="text" class="form-control" name="loan_beneficiary" value="GSC"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="loan_contract_amount">用途相关合同金额 : </label> 
                <div class="col-sm-9"><input type="text" class="form-control" name="loan_contract_amount" value="10000000"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="security_method">担保方式 : </label> 
                <div class="col-sm-9">
                  <label class="radio-inline"><input type="radio" name="security_method" value="1"> 信用 </label>
                  <label class="radio-inline"><input type="radio" name="security_method" value="2"> 抵押 </label>
                  <label class="radio-inline"><input type="radio" name="security_method" value="3"> 质押 </label>
                  <label class="radio-inline"><input type="radio" name="security_method" value="3"> 保证 </label>
                  <label class="radio-inline"><input type="radio" name="security_method" value="3"> 其他 </label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="security_explain">担保说明 : </label> 
                <div class="col-sm-9"><textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
              </div>

            <!-- Step 2 -->
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">偿还方式 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-6">偿还日子 : <input type="date" name="repay_date" value="2017-03-10"></div>
                  <div class="col-sm-6">偿还金额 : <input type="text" name="repay_amount" value="10000"></div> <br>       
                  <div class="col-sm-6">偿还日子 : <input type="date" name="repay_date" value="2017-06-10"></div>
                  <div class="col-sm-6">偿还金额 : <input type="text" name="repay_amount" value="10000"></div> <br>       
                  <div class="col-sm-6">偿还日子 : <input type="date" name="repay_date" value="2017-09-10"></div>
                  <div class="col-sm-6">偿还金额 : <input type="text" name="repay_amount" value="10000"></div> <br>
                </div>
              </div>    
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">利息 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">利息说明 : <textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
                  <div class="col-sm-12">基础利率变化 : <input type="text" name="repay_date" value="3.5000%"></div> <br>        
                  <div class="col-sm-12">展期原因变化 : <input type="" name="repay_date" value="1.2000%"></div>
                  <div class="col-sm-12">其他原因变化 : <input type="text" name="repay_date" value="1.0000%"></div> <br>        
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="security_method">利息支付方式 : </label> 
                <div class="col-sm-9">
                  <label fclass="radio-inline"><input type="radio" name="security_method" value="1"> 每月 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <label fclass="radio-inline"><input type="radio" name="security_method" value="2"> 分期 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <label fclass="radio-inline"><input type="radio" name="security_method" value="3"> 半年 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="security_method">利息支付日子 : </label> 
                <div class="col-sm-9">
                  <input type="text" name="repay_amount" value="25"> 日
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">罚款利息 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">逾期罚款 : <input type="text" name="repay_amount" value="1.0000%"></div> <br>        
                  <div class="col-sm-12">挪用罚款 : <input type="text" name="repay_amount" value="2.0000%"></div> <br>        
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="stock_lime">股权限制条款 : </label> 
                <div class="col-sm-9"><input type="text" class="form-control" name="stock_lime" value="股权限制条款"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="financial_limit">财务指标限制 : </label> 
                <div class="col-sm-9"><input type="text" class="form-control" name="financial_limit" value="财务指标限制"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="extra_limit">其他限制条款 : </label> 
                <div class="col-sm-9"><input type="text" class="form-control" name="extra_limit" value="其他限制条款"></div>
              </div>

            <!-- step 3 -->
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">财务顾问费 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">说明 ： <textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
                  <div class="col-sm-12">年华费率 : <input type="text" name="repay_date" value="3.2000%"></div>       
                  <div class="col-sm-12">费用金额 : <input type="text" name="repay_date" value="30000"></div>
                  <div class="col-sm-2"><label class="control-label" for="repay">付款 : </label></div>
                  <div class="col-sm-10">
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-03-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-06-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-09-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>
                  </div>
                </div>
              </div>    
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">股东担保费 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">说明 ： <textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
                  <div class="col-sm-12">年华费率 : <input type="text" name="repay_date" value="3.2000%"></div>       
                  <div class="col-sm-12">费用金额 : <input type="text" name="repay_date" value="30000"></div>
                  <div class="col-sm-2"><label class="control-label" for="repay">付款 : </label></div>
                  <div class="col-sm-10">
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-03-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-06-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-09-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">前端费 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">说明 ： <textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
                  <div class="col-sm-12">年华费率 : <input type="text" name="repay_date" value="3.2000%"></div>       
                  <div class="col-sm-12">费用金额 : <input type="text" name="repay_date" value="30000"></div>
                  <div class="col-sm-2"><label class="control-label" for="repay">付款 : </label></div>
                  <div class="col-sm-10">
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-03-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-06-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-09-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">律师费 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">说明 ： <textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
                  <div class="col-sm-12">年华费率 : <input type="text" name="repay_date" value="3.2000%"></div>       
                  <div class="col-sm-12">费用金额 : <input type="text" name="repay_date" value="30000"></div>
                  <div class="col-sm-2"><label class="control-label" for="repay">付款 : </label></div>
                  <div class="col-sm-10">
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-03-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-06-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-09-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">手续费 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">说明 ： <textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
                  <div class="col-sm-12">年华费率 : <input type="text" name="repay_date" value="3.2000%"></div>       
                  <div class="col-sm-12">费用金额 : <input type="text" name="repay_date" value="30000"></div>
                  <div class="col-sm-2"><label class="control-label" for="repay">付款 : </label></div>
                  <div class="col-sm-10">
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-03-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-06-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-09-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">备用信用证手续费 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">说明 ： <textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
                  <div class="col-sm-12">年华费率 : <input type="text" name="repay_date" value="3.2000%"></div>       
                  <div class="col-sm-12">费用金额 : <input type="text" name="repay_date" value="30000"></div>
                  <div class="col-sm-2"><label class="control-label" for="repay">付款 : </label></div>
                  <div class="col-sm-10">
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-03-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-06-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-09-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">代理费 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">说明 ： <textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
                  <div class="col-sm-12">年华费率 : <input type="text" name="repay_date" value="3.2000%"></div>       
                  <div class="col-sm-12">费用金额 : <input type="text" name="repay_date" value="30000"></div>
                  <div class="col-sm-2"><label class="control-label" for="repay">付款 : </label></div>
                  <div class="col-sm-10">
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-03-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-06-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-09-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">咨询服务费 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">说明 ： <textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
                  <div class="col-sm-12">年华费率 : <input type="text" name="repay_date" value="3.2000%"></div>       
                  <div class="col-sm-12">费用金额 : <input type="text" name="repay_date" value="30000"></div>
                  <div class="col-sm-2"><label class="control-label" for="repay">付款 : </label></div>
                  <div class="col-sm-10">
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-03-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-06-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-09-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">资产管理费 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">说明 ： <textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
                  <div class="col-sm-12">年华费率 : <input type="text" name="repay_date" value="3.2000%"></div>       
                  <div class="col-sm-12">费用金额 : <input type="text" name="repay_date" value="30000"></div>
                  <div class="col-sm-2"><label class="control-label" for="repay">付款 : </label></div>
                  <div class="col-sm-10">
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-03-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-06-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-09-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="repay">其他 : </label> 
                <div class="col-sm-9">
                  <div class="col-sm-12">说明 ： <textarea type="text" class="form-control" rows="2" name="security_explain"></textarea></div>
                  <div class="col-sm-12">年华费率 : <input type="text" name="repay_date" value="3.2000%"></div>       
                  <div class="col-sm-12">费用金额 : <input type="text" name="repay_date" value="30000"></div>
                  <div class="col-sm-2"><label class="control-label" for="repay">付款 : </label></div>
                  <div class="col-sm-10">
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-03-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-06-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>       
                    <div class="col-sm-6">付款日子 ： <input type="date" name="repay_date" value="2017-09-10"></div>
                    <div class="col-sm-6">付款金额 : <input type="text" name="repay_date" value="10000"></div> <br>
                  </div>        
                </div>
              </div>
              <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <a class="btn btn-danger" href=""> 融资补充协议目录 </a>
                      <a class="btn btn-primary" href=""> 授信目录 </a>
                    </div>
                </div>
            </form>

              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
  </div>
</div>
{% endblock main_content %}

{% block extra_js %}

  {% load staticfiles %}
  <script src="{% static 'vendor/jquery/jquery.number.min.js' %}"></script>
  <script type="text/javascript">
    $('.number').number(true, 0);
  </script>

{% endblock extra_js %}