{% extends "base.html" %}

{% load staticfiles %}

{% block title %} 授信目录 {% endblock title %}

{% block main_content %}

<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">授信(Credit)</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4> 授信目录 </h4>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <a class="btn btn-primary" href="{% url 'creditline:create' %}"> 授信申请 </a> <br/>
                  <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
              			<thead>
              				<tr>
              					<th colspan='2'>银行名称 </th>
              					<th>项目贷款</th>
              					<th>中长期流贷授信</th>
              					<th>短期流贷授信</th>
              					<th>贸易融资授信</th>
              					<th>专用授信</th>
              					<th>债券授信</th>
              					<th>其他</th>
              					<th>业务处理</th>
              				</tr>
              			</thead>
              			<tbody>
              				<tr>
              				 	<td rowspan=4>光大银行<br>(货币种类 : RMB)<br><br><br>曹美兰</td>
              				 	<td>银行授信</td>
              					<td class='number'>180000000</td>
              					<td class='number'>300000000</td>
              					<td class='number'>500000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>8000000</td>
              					<td class='number'>8000000</td>
              					<td rowspan=4>
              						<a class="btn btn-danger" href="{% url 'creditline:detail' 1 %}"> 修改 </a> <br/>
                          <a class="btn btn-danger" href="{% url 'creditline:finish' %}"> 授信结束 </a><br/>
                          <a class="btn btn-warning" href=""> 融资目录 </a><br/>
                          <a class="btn btn-primary" href=""> 融资申请 </a> <br/>
              					</td>
              				</tr>
              				<tr>
              				 	<td>已使用</td>
              					<td class='number'>180000000</td>
              					<td class='number'>300000000</td>
              					<td class='number'>500000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>8000000</td>
              					<td class='number'>8000000</td>
              				</tr>
              				<tr>
              				 	<td>未使用</td>
              					<td class='number'>180000000</td>
              					<td class='number'>300000000</td>
              					<td class='number'>500000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>8000000</td>
              					<td class='number'>8000000</td>
              				</tr>
               				<tr>
              				 	<td>已使用比率</td>
              					<td>70%</td>
              					<td>30%</td>
              					<td>90%</td>
              					<td>N/A</td>
              					<td>N/A</td>
              					<td>N/A</td>
              					<td>N/A</td>
              				</tr>
              				<tr>
              				 	<td rowspan=4>建设银行<br>货币种类 : RMB)<br><br><br>白雪花</td>
              				 	<td>银行授信</td>
              					<td class='number'>180000000</td>
              					<td class='number'>300000000</td>
              					<td class='number'>500000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>8000000</td>
              					<td class='number'>8000000</td>
              					<td rowspan=4>

              					</td>
              				</tr>
              				<tr>
              				 	<td>已使用</td>
              					<td class='number'>180000000</td>
              					<td class='number'>300000000</td>
              					<td class='number'>500000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>8000000</td>
              					<td class='number'>8000000</td>
              				</tr>
              				<tr>
              				 	<td>未使用</td>
              					<td class='number'>180000000</td>
              					<td class='number'>300000000</td>
              					<td class='number'>500000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>160000000</td>
              					<td class='number'>8000000</td>
              					<td class='number'>8000000</td>
              				</tr>
               				<tr>
              				 	<td>已使用比率</td>
              					<td>70%</td>
              					<td>30%</td>
              					<td>90%</td>
              					<td>N/A</td>
              					<td>N/A</td>
              					<td>N/A</td>
              					<td>N/A</td>
              				</tr>
                      <tr>
                        <td rowspan=4>建设银行<br>(货币种类 : USD)<br><br><br>张三</td>
                        <td>银行授信</td>
                        <td class='number'>180000000</td>
                        <td class='number'>300000000</td>
                        <td class='number'>500000000</td>
                        <td class='number'>160000000</td>
                        <td class='number'>160000000</td>
                        <td class='number'>8000000</td>
                        <td class='number'>8000000</td>
                        <td rowspan=4>

                        </td>
                      </tr>
                      <tr>
                        <td>已使用</td>
                        <td class='number'>180000000</td>
                        <td class='number'>300000000</td>
                        <td class='number'>500000000</td>
                        <td class='number'>160000000</td>
                        <td class='number'>160000000</td>
                        <td class='number'>8000000</td>
                        <td class='number'>8000000</td>
                      </tr>
                      <tr>
                        <td>未使用</td>
                        <td class='number'>180000000</td>
                        <td class='number'>300000000</td>
                        <td class='number'>500000000</td>
                        <td class='number'>160000000</td>
                        <td class='number'>160000000</td>
                        <td class='number'>8000000</td>
                        <td class='number'>8000000</td>
                      </tr>
                      <tr>
                        <td>已使用比率</td>
                        <td>70%</td>
                        <td>30%</td>
                        <td>90%</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                      </tr>
              			</tbody>
  		            </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
  </div>
</div>
{% endblock main_content %}


{% block extra_js %}

  {% load staticfiles %}
  <script src="{% static 'vendor/jquery/jquery.number.min.js' %}"></script>
  <script type="text/javascript">
    $('.number').number(true, 0);
  </script>

{% endblock extra_js %}
