<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="{% url 'event:calendar' %}"><i class="fa fa-calendar fa-fw"></i> Calendar </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bank fa-fw"></i> 授信管理 <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'creditline:index' %}">授信目录</a>
                    </li>
                    <li>
                        <a href="{% url 'creditline:create' %}">授信申请</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> 融资管理 <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'loan:index' %}">融资目录</a>
                    </li>
                    <li>
                        <a href="{% url 'loan:create1' %}">融资申请</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-thumb-tack fa-fw"></i> 利息管理 <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'loan:index' %}">利息目录</a>
                    </li>
                    <li>
                        <a href="{% url 'loan:create1' %}">利息申请</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>            
            <li>
                <a href="#"><i class="fa fa-magnet fa-fw"></i> 偿还管理 <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'loan:index' %}">偿还目录</a>
                    </li>
                    <li>
                        <a href="{% url 'loan:create1' %}">偿还申请</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

        </ul>
    </div>
<!-- /.sidebar-collapse -->
</div>